.visionWrap {
  color: white;
  /* background-color: #CE2EE3; */
  background: rgb(91, 98, 138);
  background: linear-gradient(
    90deg,
    rgba(49, 9, 74, 1) 0%,
    rgba(29, 8, 69, 1) 15%,
    rgba(14, 0, 42, 1) 100%
  );
}
.container {
  width: 100%;
  outline: none;
  /* background-size: contain; */
  background-image: url("../../../../public/BgGrid100.png");
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 1.5),
      transparent
    ),
    url("../../../../public/BgGrid100.png");
}
.container input[type="text"],
.container input[type="email"],
.container textarea,
.container input[type="tel"] {
  padding: 0.5em 0.5em 0.5em 0.8em;
  border: 2px solid #98a2b3;
  background: #f5f5f5;
  color: #98a2b3;
  margin-right: 1.5em;
  width: 100%;
  border-radius: 2px;
  color: #101828;
}
.container button[type="submit"] {
  display: flex;
}
.container button {
  background: #101828;
  padding: 0.5em 2.585em;
  border: 2px solid #101828;
  font-weight: 400;
  color: #f5f5f5;
  border-radius: 2px;
  transition: 0.2s all;
}

.container button:hover {
  background: transparent;
  color: #101828;
  font-weight: 500;
  transition: 0.2s all;
  scale: 1.05;
}

@media (max-width: 600px) {
  .container input[type="text"],
  .container input[type="email"],
  .container input[type="tel"] {
    margin-right: 0;
    margin-bottom: 1.5em;
  }
  .container button[type="submit"] {
    width: 12.5em;
  }
}

.container input[type="tel"],
.tel {
  margin-right: 0 !important;
}
