@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}

body {
  font-size: 16px;
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    /* background: #F2F4F7; */
}
h1, h2, h3{
  padding: 0px;
  margin: 0px;
}

/* slanting H4 CSS */
h4.ribbon {
  position: relative;
    background-color: #4C6FFF;
    color: white;
    padding: 0.5em 2em;
    display: inline-block;
    margin-bottom: 1em;
}
h4.ribbon::before {
  content: "";
  position: absolute;
  top: 0px;
  right: -1em;
  border-top: 2.5em solid #4C6FFF;
  border-right: 1em solid transparent;
  bottom: 0em;
  overflow: hidden;
}
h4.ribbon-robot {
  padding: 0.2em .75em;
  margin-bottom: 12px;
}
h4.ribbon-robot::before {
  border-top: 2.2em solid #4C6FFF;
  border-top: 1.5em solid #4C6FFF;
}
@media (max-width: 768px) {
  h4.ribbon-robot::before {
    border-top: 2.3em solid #4C6FFF;
    border-top: 2.25em solid #4C6FFF;
  }
}
/* Common CSS */

#rcc-confirm-button{
  border: 2px solid rgb(76, 111, 255);
}
#rcc-confirm-button:hover {
  background: transparent!important;
  transition: .1s all;
  padding: 0.5em 2.585em;
  border: 2px solid rgb(76, 111, 255);
  /* scale: 1.10; */
  color: rgb(76, 111, 255)!important;
}


textarea:focus, input:focus{
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
 

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: #320a53;
  transform-origin: 0%;
}
.contact-link{
  border: 1px solid #F5F5F5;
  padding: 0.5em 1em;
  border-radius: 2px;
}
.contact-link:hover{
  border: 1px solid #F5F5F5;
  border-radius: 2px;
  background-color: #f5f5f5;
  color: #000;
}
.contact-link-dark{
  border: 1px solid #000000;
  padding: 0.5em 1em;
  border-radius: 2px;
}
.contact-link-dark:hover {
  border-radius: 2px;
  border: 1px solid #000000;
  background-color: #000000;
  color: #f5f5f5;

}

.link, .darkLink {
  text-decoration: none;  
  vertical-align: top;
  position: relative;
}
.link::before, .darkLink::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #000000;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.link:hover::before,
.darkLink:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.darkLink::before {
  background-color: #FFFFFF;
}

.back-to-top span {
  color: #4C6FFF;
}
.back-to-top svg circle {
  border: none;
  fill: #fff;
  /* stroke: #320a53; */
  /* stroke-width: 2px; */
  /* color: #320a53; */
  stroke: #4C6FFF
}

.back-to-top svg circle:first-child {
  /* Your styles here */
  stroke: none;
  stroke-width: 0px;
}