.visionWrap {
  color: white;
  /* background-color: #CE2EE3; */
  background: rgb(91, 98, 138);
  background: linear-gradient(
    90deg,
    rgba(49, 9, 74, 1) 0%,
    rgba(29, 8, 69, 1) 15%,
    rgba(14, 0, 42, 1) 100%
  );
}
