.reviewWrap {
  background-color: #07001f;
  padding: 4em 1.5em;
  color: white;
}

.reviewCardWrap {
  color: white;
  /* background-color: #CE2EE3; */
  background: rgb(91, 98, 138);
  background: linear-gradient(
    90deg,
    rgba(91, 98, 138, 1) 0%,
    rgba(120, 111, 192, 1) 67%,
    rgba(148, 112, 197, 1) 100%
  );
  max-height: 400px;
  max-width: 700px;
  height: 400px;
  margin-right: 3rem;
  max-height: 400px;
}

.reviewCard h3 {
  font-size: 36px;
  line-height: 1.1675;
  font-weight: bold;
  color: #101828;
}

.reviewCard h3 span {
  background: linear-gradient(
    0deg,
    rgba(255, 0, 255, 0) 0%,
    rgba(255, 0, 255, 0) 16%,
    #b2c8f8 16%,
    #b2c8f8 47%,
    rgba(255, 0, 255, 0) 41%
  );
  padding: 0 0 0.15em 0;
  -webkit-box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  position: relative;
}

.reviewCard {
  min-height: 400px;
  padding: 3em 3.5em;
  /* min-width: 700px; */
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.reviewCard2 {
  align-self: flex-start;
}
.reviewCard1 {
}

.reviewLink {
  font-size: 18px;
  display: inline-flex;
  font-weight: 600;
}
.reviewLink svg {
  margin-left: 0.5em;
  width: 1.5rem;
  height: 1.5rem;
}
.reviewStar {
  height: 32px;
  width: 32px;
}

.overlayImage {
  object-fit: cover;
  right: 3em;
  position: absolute;
}
.glassdoorRatings {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
}

.offsetOverlay {
  display: block;
  color: #07001f;
  height: max-content;
  width: 5em;
}
